/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shadow {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.7;
  z-index: 8;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1290px;
  margin: 0 auto;
}

@media (max-width: 1290px) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .wrapper {
    width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .wrapper {
    width: 480px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 350px;
    margin: 0 auto;
  }
}

.small-header {
  background-color: #f2f2f2;
}

@media (max-width: 360px) {
  .small-header {
    width: 370px;
  }
}

.small-header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1290px) {
  .small-header .top-header {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .small-header .top-header {
    font-size: 15px;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 50px;
    padding-top: 10px;
  }
}

@media (max-width: 760px) {
  .small-header .top-header {
    font-size: 15px;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 50px;
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .small-header .top-header {
    font-size: 10px;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 50px;
    padding-top: 10px;
  }
}

.small-header .head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1290px) {
  .small-header .head-menu {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .small-header .head-menu {
    width: 100%;
    font-size: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 760px) {
  .small-header .head-menu {
    width: 100%;
    font-size: 10px;
    padding-bottom: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 480px) {
  .small-header .head-menu {
    width: 460px;
    font-size: 8px;
    padding-bottom: 10px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.small-header a {
  color: #525252;
  text-decoration: none;
}

@media (max-width: 1290px) {
  .small-header a {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .small-header a {
    font-size: 15px;
  }
}

@media (max-width: 760px) {
  .small-header a {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .small-header a {
    font-size: 10px;
  }
}

.small-header li {
  border-left: 2px solid #525252;
  padding-left: 30px;
  padding-right: 20px;
}

.small-header li:first-child {
  border-left: none;
}

.small-header li:last-child {
  padding-right: 0px;
}

.big-header {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}

@media (max-width: 1290px) {
  .big-header {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 960px) {
  .big-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 760px) {
  .big-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .big-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.big-header .bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .big-header .bottom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 760px) {
  .big-header .bottom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .big-header .bottom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.big-header .bottom-header a {
  text-decoration: none;
  color: #000000;
}

.big-header .bottom-header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 400px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #000000;
}

@media (max-width: 1290px) {
  .big-header .bottom-header .main-menu {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .big-header .bottom-header .main-menu {
    font-size: 18px;
    width: auto;
  }
  .big-header .bottom-header .main-menu li {
    display: none;
  }
  .big-header .bottom-header .main-menu li:first-child {
    display: block;
    margin-right: 0px;
  }
}

@media (max-width: 760px) {
  .big-header .bottom-header .main-menu {
    font-size: 18px;
  }
  .big-header .bottom-header .main-menu li {
    display: none;
  }
  .big-header .bottom-header .main-menu li:first-child {
    display: block;
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .big-header .bottom-header .main-menu {
    font-size: 15px;
    margin-right: -50px;
    width: 100px;
  }
  .big-header .bottom-header .main-menu li {
    display: none;
  }
  .big-header .bottom-header .main-menu li:first-child {
    display: block;
    margin-right: 0px;
  }
}

.big-header .bottom-header .logo {
  margin-left: 6em;
}

@media (max-width: 1290px) {
  .big-header .bottom-header .logo {
    margin-left: -40px;
  }
}

@media (max-width: 960px) {
  .big-header .bottom-header .logo {
    margin-left: 100px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 760px) {
  .big-header .bottom-header .logo {
    margin-left: 0 auto;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media (max-width: 480px) {
  .big-header .bottom-header .logo {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-left: -10px;
    margin-right: -50px;
  }
}

.big-header .bottom-header .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 180px;
  margin-left: 150px;
}

@media (max-width: 1290px) {
  .big-header .bottom-header .social-media {
    display: none;
  }
}

@media (max-width: 960px) {
  .big-header .bottom-header .social-media {
    display: none;
  }
}

@media (max-width: 760px) {
  .big-header .bottom-header .social-media {
    display: none;
  }
}

@media (max-width: 480px) {
  .big-header .bottom-header .social-media {
    display: none;
  }
}

.big-header .bottom-header .social-media li {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-header .bottom-header .social-media a {
  text-decoration: none;
  color: #d9bf8f;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #d9bf8f;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.big-header .bottom-header .social-media a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
  border: 2px solid #dbaf5d;
  border: 2px solid #dbaf5d;
}

.big-header select {
  width: 115px;
  height: 35px;
  color: white;
  background-color: #000000;
  padding-left: 20px;
}

@media (max-width: 760px) {
  .big-header select {
    margin-left: 0 auto;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media (max-width: 480px) {
  .big-header select {
    margin-left: 0;
    margin-right: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.big-header select option {
  background-color: #242424;
}

.modal {
  display: none;
  width: 350px;
  height: 200px;
  position: fixed;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 1px solid #eaeaea;
  padding: 30px;
  background-color: #ffff;
  color: #f09d66;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 1290px) {
  .modal {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (max-width: 960px) {
  .modal {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (max-width: 760px) {
  .modal {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (max-width: 480px) {
  .modal {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.modal input {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  border: 1px solid #eaeaea;
  border-left: 4px solid #f09d66;
}

.modal .button {
  color: #ffffff;
  border: 1px solid #f09151;
  position: absolute;
  right: 20px;
  width: 90px;
  -webkit-box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
          box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: -webkit-gradient(linear, left top, left bottom, from(#FB9575), color-stop(48%, #f09d66), color-stop(52%, #f09d66), to(#F02F17));
  background: linear-gradient(#FB9575, #f09d66 48%, #f09d66 52%, #F02F17);
  cursor: pointer;
}

.modal .button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ad97), color-stop(48%, #f3b78e), color-stop(52%, #f1b085), to(#f13920));
  background: linear-gradient(#f8ad97, #f3b78e 48%, #f1b085 52%, #f13920);
}

.modal #closeBtn {
  position: absolute;
  right: 25px;
  top: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 2px 7px;
}

.slider {
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1290px) {
  .slider {
    width: 760px;
  }
}

@media (max-width: 960px) {
  .slider {
    width: 480px;
  }
}

@media (max-width: 760px) {
  .slider {
    width: 320px;
  }
}

@media (max-width: 480px) {
  .slider {
    width: 280px;
  }
}

.slider::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 65px 197.5px 0 197.5px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 1290px) {
  .slider::after {
    -webkit-transform: translate(-50%, -20%) scale(0.7);
            transform: translate(-50%, -20%) scale(0.7);
    top: 0;
  }
}

@media (max-width: 960px) {
  .slider::after {
    -webkit-transform: translate(-50%, -25%) scale(0.5);
            transform: translate(-50%, -25%) scale(0.5);
    top: 0;
  }
}

@media (max-width: 760px) {
  .slider::after {
    -webkit-transform: translate(-50%, -40%) scale(0.4);
            transform: translate(-50%, -40%) scale(0.4);
    top: 0;
  }
}

@media (max-width: 480px) {
  .slider::after {
    -webkit-transform: translate(-50%, -40%) scale(0.3);
            transform: translate(-50%, -40%) scale(0.3);
    top: 0;
  }
}

.slider img {
  width: 100%;
  height: 100%;
  border: none;
}

.big_banner {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#75706b), color-stop(50%, #8c8784), to(#87827e));
  background: linear-gradient(180deg, #75706b 0%, #8c8784 50%, #87827e 100%);
  position: relative;
  background-size: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sale_informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  top: 50px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -1%);
          transform: translate(-50%, -1%);
  position: absolute;
  margin: 0 auto;
}

@media (max-width: 1290px) {
  .sale_informations {
    -webkit-transform: translate(-50%, -1%) scale(0.7);
            transform: translate(-50%, -1%) scale(0.7);
    top: 50px;
  }
}

@media (max-width: 960px) {
  .sale_informations {
    -webkit-transform: translate(-50%) scale(0.5);
            transform: translate(-50%) scale(0.5);
    top: 50px;
  }
}

@media (max-width: 760px) {
  .sale_informations {
    -webkit-transform: translate(-50%) scale(0.4);
            transform: translate(-50%) scale(0.4);
    top: 50px;
  }
}

@media (max-width: 480px) {
  .sale_informations {
    -webkit-transform: translate(-50%) scale(0.3);
            transform: translate(-50%) scale(0.3);
    top: 20px;
  }
}

.sale_informations .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 auto;
  width: 275px;
  height: 275px;
  border: 3px solid white;
  /*position: absolute;*/
  padding: 7px;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
}

.sale_informations .sale .sale_inside {
  border: 1px solid white;
  width: 272px;
  height: 272px;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
}

.sale_informations .sale .sale_inside .midseason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: white;
  font-size: 24px;
  margin-top: 30px;
}

.sale_informations .sale .sale_inside .sale_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: #000000;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 20px;
}

.sale_informations .sale .sale_inside .upto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: white;
  font-size: 24px;
  margin-top: 30px;
  position: relative;
}

.sale_informations .sale .sale_inside .upto::before {
  content: "";
  border-bottom: 2px solid white;
  width: 60px;
  height: 0.3em;
  position: absolute;
  top: calc(0.45em - 1px);
  margin-left: -200px;
}

.sale_informations .sale .sale_inside .upto::after {
  content: "";
  border-bottom: 2px solid white;
  width: 60px;
  height: 0.3em;
  position: absolute;
  top: calc(0.45em - 1px);
  margin-left: 200px;
}

.sale_informations .sale .sale_inside .upto hr {
  width: 30px;
  border: 1px solid white;
}

.sale_informations .sale .sale_inside .off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: #000000;
  font-size: 40px;
  margin-top: 25px;
}

.sale_informations .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  width: 175px;
  text-shadow: 2px 2px 4px black;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  border-radius: 5%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
          box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: -webkit-gradient(linear, left top, left bottom, from(#FB9575), color-stop(48%, #f09d66), color-stop(52%, #f09d66), to(#F02F17));
  background: linear-gradient(#FB9575, #f09d66 48%, #f09d66 52%, #F02F17);
  text-decoration: none;
}

@media (max-width: 960px) {
  .sale_informations .button {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 40px;
  }
}

@media (max-width: 760px) {
  .sale_informations .button {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .sale_informations .button {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .sale_informations .button {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    margin-top: 20px;
  }
}

.sale_informations .button a {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
}

.sale_informations .button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 1s;
  transition: 1s;
}

.sale_informations .button a {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
}

.sale_informations .radio-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: #dbaf5d;
  border: #dbaf5d;
}

@media (max-width: 760px) {
  .sale_informations .radio-slider-container {
    margin-top: -30px;
  }
}

@media (max-width: 480px) {
  .sale_informations .radio-slider-container {
    display: none;
  }
}

.advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  right: 0;
}

@media (max-width: 1290px) {
  .advert {
    margin-top: 0 auto;
  }
}

@media (max-width: 960px) {
  .advert {
    margin-top: 0 auto;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media (max-width: 760px) {
  .advert {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .advert {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.advert .left-adv {
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  margin-top: 65px;
  position: relative;
}

@media (max-width: 1290px) {
  .advert .left-adv {
    width: 300px;
    height: 100px;
    margin-top: 45px;
  }
}

@media (max-width: 960px) {
  .advert .left-adv {
    margin-top: 0px;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .advert .left-adv {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .advert .left-adv {
    margin-top: 0px;
  }
}

.advert .left-adv::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 40px;
  border-color: transparent transparent transparent #d9bf8f;
}

@media (max-width: 960px) {
  .advert .left-adv::after {
    display: none;
  }
}

.advert .left-adv .left-info {
  position: absolute;
  color: white;
  margin-left: 100px;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1290px) {
  .advert .left-adv .left-info {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  .advert .left-adv .left-info {
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 20px;
    font-size: 18px;
    left: 50%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

.advert .left-adv .left-info::before {
  content: url(../images/fly.png);
  position: absolute;
  left: -60px;
  margin-top: 5px;
}

.advert .left-adv .left-info span {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.advert .middle-adv {
  width: 440px;
  height: 100px;
  background-color: #000000;
  margin-top: 65px;
  position: relative;
}

@media (max-width: 1290px) {
  .advert .middle-adv {
    width: 300px;
    height: 100px;
    margin-top: 45px;
  }
}

@media (max-width: 960px) {
  .advert .middle-adv {
    width: 100%;
    margin-top: 0px;
  }
}

@media (max-width: 760px) {
  .advert .middle-adv {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .advert .middle-adv {
    margin-top: 0px;
  }
}

.advert .middle-adv::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 40px;
  border-color: transparent transparent transparent #ffffff;
}

@media (max-width: 960px) {
  .advert .middle-adv::before {
    display: none;
  }
}

.advert .middle-adv::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 40px 50px 0;
  border-color: transparent #ffffff transparent transparent;
}

@media (max-width: 960px) {
  .advert .middle-adv::after {
    display: none;
  }
}

.advert .middle-adv .middle-info {
  position: absolute;
  color: white;
  margin-left: 115px;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1290px) {
  .advert .middle-adv .middle-info {
    font-size: 15px;
    margin-left: 100px;
  }
}

@media (max-width: 960px) {
  .advert .middle-adv .middle-info {
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 20px;
    font-size: 18px;
    left: 50%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

.advert .middle-adv .middle-info::before {
  content: url(../images/clock.png);
  position: absolute;
  left: -60px;
  margin-top: 5px;
}

.advert .middle-adv .middle-info span {
  font-size: 15px;
  margin-bottom: 20px;
}

.advert .right-adv {
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  margin-top: 65px;
  position: relative;
}

@media (max-width: 1290px) {
  .advert .right-adv {
    width: 300px;
    height: 100px;
    margin-top: 45px;
  }
}

@media (max-width: 960px) {
  .advert .right-adv {
    margin-top: 0px;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .advert .right-adv {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .advert .right-adv {
    margin-top: 0px;
  }
}

.advert .right-adv::before {
  content: "";
  left: -40px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 40px 50px 0;
  border-color: transparent #d9bf8f transparent transparent;
}

@media (max-width: 960px) {
  .advert .right-adv::before {
    display: none;
  }
}

.advert .right-adv .right-info {
  position: absolute;
  color: white;
  margin-left: 100px;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1290px) {
  .advert .right-adv .right-info {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  .advert .right-adv .right-info {
    text-align: center;
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

.advert .right-adv .right-info::before {
  position: absolute;
  content: url(../images/advert3.png);
  left: -60px;
  margin-top: 5px;
}

.advert .right-adv .right-info span {
  font-size: 15px;
  margin-bottom: 20px;
}

.title-big .title {
  margin-top: 95px;
  margin-bottom: 60px;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  color: #d9bf8f;
}

@media (max-width: 1290px) {
  .title-big .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 960px) {
  .title-big .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .title-big .title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title-big .title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.title-big .title::before {
  content: '';
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: #eaeaea;
  border: solid #FFF;
  border-width: 0 10px;
  margin-left: -100%;
  left: -50px;
}

.title-big .title::after {
  content: '';
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: #eaeaea;
  border: solid #FFF;
  border-width: 0 10px;
  margin-right: -100%;
  right: -50px;
}

.title-big .title span {
  color: black;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

@media (max-width: 760px) {
  .title-big .title span {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title-big .title span {
    font-size: 15px;
  }
}

.title-big hr {
  border: 1px solid #333;
  display: inline-block;
  margin: 3px 3px;
  width: 45%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  border: 1px solid #eaeaea;
  padding: 15px 15px 0px 15px;
  margin-bottom: 95px;
}

@media (max-width: 760px) {
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content .image {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

.content .image:hover a:after, .content .image:hover a:before {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.content .image:hover .add {
  border-bottom: 60px solid #F02F17;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 760px) {
  .content .image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .content .image {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.content .image:nth-child(4)::before {
  content: url(../images/40percent.png);
  position: absolute;
  margin: 10px;
}

.content .image:nth-child(8)::before {
  content: url(../images/40percent.png);
  position: absolute;
  margin: 10px;
}

.content .image:nth-child(1)::before {
  content: url(../images/20percent.png);
  position: absolute;
  margin: 10px;
}

.content .image:nth-child(5)::before {
  content: url(../images/20percent.png);
  position: absolute;
  margin: 10px;
}

.content .image a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.content .image a:before {
  content: '';
  position: absolute;
  top: 120px;
  left: 120px;
  right: 0;
  bottom: 0;
  background: url(../images/heart.png);
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 3;
  -webkit-transition: 1s;
  transition: 1s;
}

.content .image .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  position: absolute;
  border-bottom: 60px solid black;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  height: 0;
  width: 150px;
  z-index: 2;
  left: 10%;
  top: 82.5%;
  /* &::after{
            content: "";
            color: white;
            font-family: 'Lato', sans-serif;
            text-decoration: none;
            position: absolute;
            border-bottom: 60px solid rgb(230, 20, 20);
            opacity: 80%;
            border-left: 45px solid transparent;
            border-right: 45px solid transparent;
            height: 0;
            width: 150px;
            z-index: 4;
            left: -30%;
            top: 82%;
            }*/
  /* &:active{
                border-bottom: 60px solid #f0975c;

            }
            &:hover{
                border-bottom: 60px solid #f0975c;

            }*/
}

.content .image .add span {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  color: white;
  font-family: 'Lato', sans-serif;
  position: absolute;
  z-index: 5;
}

footer {
  background-color: #141414;
  padding-top: 75px;
  padding-left: 15px;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
}

footer .top-footer a {
  text-decoration: none;
  color: #737373;
  font-family: 'Lato', sans-serif;
}

footer .top-footer a:hover {
  color: white;
}

footer .top-footer h3 {
  color: white;
  margin-bottom: 45px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 960px) {
  footer .top-footer .shop {
    display: none;
  }
}

@media (max-width: 760px) {
  footer .top-footer .shop {
    display: none;
  }
}

@media (max-width: 480px) {
  footer .top-footer .shop {
    display: none;
  }
}

footer .top-footer .shop li {
  margin-bottom: 15px;
}

@media (max-width: 960px) {
  footer .top-footer .information {
    display: none;
  }
}

@media (max-width: 760px) {
  footer .top-footer .information {
    display: none;
  }
}

@media (max-width: 480px) {
  footer .top-footer .information {
    display: none;
  }
}

footer .top-footer .information li {
  margin-bottom: 15px;
}

@media (max-width: 1290px) {
  footer .top-footer .cust-service {
    margin-left: 30px;
  }
}

@media (max-width: 960px) {
  footer .top-footer .cust-service {
    display: none;
  }
}

@media (max-width: 760px) {
  footer .top-footer .cust-service {
    display: none;
  }
}

@media (max-width: 480px) {
  footer .top-footer .cust-service {
    display: none;
  }
}

footer .top-footer .cust-service li {
  margin-bottom: 15px;
}

footer .top-footer .connected {
  width: 500px;
}

@media (max-width: 1290px) {
  footer .top-footer .connected {
    margin-left: 30px;
  }
}

@media (max-width: 960px) {
  footer .top-footer .connected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media (max-width: 760px) {
  footer .top-footer .connected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  footer .top-footer .connected {
    display: none;
  }
}

footer .top-footer .connected .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 180px;
  margin-bottom: 45px;
}

footer .top-footer .connected .social-media li {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .top-footer .connected .social-media a {
  text-decoration: none;
  color: black;
  width: 30px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top-footer .connected .social-media a:hover {
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#7eabe6), to(#e97cda));
  background: linear-gradient(to top, #7eabe6, #e97cda);
  border: 2px solid #141414;
}

footer .top-footer .connected .subscribe {
  width: 360px;
  min-height: 40px;
  border: 1px solid #484848;
  padding: 3px;
}

footer .top-footer .connected .subscribe .text {
  border: none;
  width: 250px;
  height: 34px;
  vertical-align: middle;
  background-color: #141414;
  color: #484848;
  outline: none;
}

footer .top-footer .connected .submit {
  width: 100px;
  height: 40px;
  background-color: #323030;
  color: white;
}

footer .top-footer span {
  font-style: italic;
}

.copyright {
  color: #363636;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin-top: 120px;
}

#toTop {
  width: 30px;
  height: 30px;
  display: none;
  position: fixed;
  padding: 5px;
  border: 1 px solid black;
  border-radius: 5px;
  right: 70px;
  bottom: 110px;
  background: black;
  opacity: 50%;
  z-index: 8;
  color: blanchedalmond;
  cursor: pointer;
}

#toTop::after {
  content: "\25b2";
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: auto;
  font-size: 1em;
  color: #fff;
}

.cards {
  width: 170px;
  padding-bottom: 100px;
  margin-top: 30px;
  color: #bbbbbb;
}

.cards ul {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards ul a {
  color: #363636;
}

.cards ul a:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */